.env
.vscode/*
.virtual_documents/*
.idea/*
notebooks/.ipynb_checkpoints/
notebooks/vectorstore/*
src/multi_agent/chains/.ipynb_checkpoints/


src/multi_agent/rag/data/*
src/multi_agent/rag/knowledge_base/*