langchain==0.3.25
langgraph==0.4.3
langgraph-prebuilt==0.1.8
langchain-openai==0.3.16
langchain-community==0.3.24
langchain-core==0.3.59
langgraph-supervisor==0.0.21
langchain-chroma==0.2.3
pydantic==2.11.4
PyPDF2==3.0.1
python-dotenv==1.1.0
pytrends==4.9.2
fastapi==0.115.5
uvicorn==0.32.0